 @import url('https://fonts.googleapis.com/css?family=Signika');

.App {
  text-align: center;
  font-family: 'Signika', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.doneTodo {
  color: green;
  text-decoration: line-through;
}

.deleteAllButton,
.addTaskButton {
  font-size: 12px;
  border: 0;
  background-color: #dddddd;
  width: 100px;
  height: 30px;
  padding: 5px;
  margin: 5px;
}

.editForm {
  border: 1px solid #000;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
}

.editFormInput {
  font-size: 15px;
  border: 0;
  background-color: #dddddd;
  width: 200px;
  height: 100px;
  padding: 5px;
  margin: 5px;
}

.addTaskInput {
  font-size: 12px;
  border: 0;
  background-color: #dddddd;
  width: 200px;
  height: 20px;
  padding: 5px;
  margin: 5px;
}

.editFormInput {
  font-size: 12px;
  border: 0;
  background-color: #dddddd;
  width: 200px;
  height: 20px;
  padding: 5px;
  margin: 5px;
}

.editFormCheckbox {
  font-size: 12px;
  border: 0;
  background-color: #dddddd;
  width: 20px;
  height: 20px;
  padding: 5px;
  margin: 5px;
}

.editButton,
.deleteButton,
.completeButton {
  font-size: 8px;
  border: 0;
  background-color: #dddddd;
  width: 15px;
  height: 15px;
  margin: 2px;
  padding: 2px 2px 2px 2px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.itemConatiner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.item {
  position: relative;
  flex-grow: 5;
  flex-basis: 200px;
  background-color: #e9e9e9;
  padding: 30px 10px 10px 10px;
  margin: 10px;
  width: 200px;
  height: 200px;
}

.itemTask {
  position: relative;
  font-size: 16px;
  margin: 5px;
}

.itemEdit {
  position: absolute;
  right: 10px;
  top: 5px;
}

.errorMsg {
  margin: 10px;
  color: #ed2b18;
  font-weight: bolder;
  font-size: 20px;
}

.userImg {
  height:30px;
  width:30px;
}